.experience {
  margin-top: 8rem;

  h2,
  p {
    margin: 2rem 0;
  }
  img {
    margin: 1rem 0;
  }

  footer {
    h2,
    p {
      color: $white;
    }
    background-color: $darkest-gray;
    padding: 1rem 1.5rem;
  }
}
