h1,
h2,
h3,
h4 {
  font-family: $ff-bsd-black;
  font-weight: 900;
  color: $darkest-gray;
}

h1 {
  font-size: clamp(3.75rem, 7vw, 6rem);
  line-height: clamp(3.4375rem, 3vh, 5.5rem);
}

h2 {
  font-size: clamp(3.125rem, 7vw, 4.375rem);
  line-height: clamp(2.8125rem, 3vh, 4.375rem);
}

h3 {
  font-size: clamp(2rem, 7vw, 3.75rem);
  line-height: clamp(2rem, 3vh, 3.125rem);
}

h4 {
  font-size: 2.25rem;
  line-height: 2.25rem;
}

p {
  font-family: $ff-outfit-light;
  color: $dark-gray;
}

.med-p {
  font-size: clamp(1.125rem, 3vw, 1.375rem);
  line-height: clamp(1.75rem, 2vh, 2rem);
}

.small-p {
  font-size: clamp(1rem, 3vw, 1.125rem);
  line-height: clamp(1.625rem, 2vh, 1.75rem);
}

button {
  font-family: $ff-bsd-black;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 3.64px;
  color: $white;
}
